<div class="container">
  <h2 class="title-lg mb-sm">Новый вопрос</h2>
  <p class="mb-sm">для <%= link_to formatted_nickname(@user), user_path(@user) %></p>
  <%= render "form", question: @question, main: false %>
</div>
