<% background_class = "users-box-user-bg#{user.id % 5}" %>

<div class="users-box-user rounded mr ml"
     <% if user.color.present? %>
     style="border:3px solid <%= user.color %>;"
     <% end %>
     >
  <a href="<%= user_path(user) %>"
     title="@<%= user.nickname %>"
     class="rounded"
     style=<%= "background-image:url(#{user.gravatar_url});" %>/>
  </a>
</div>
