<div class="container">
  <h2 class="title">Редактирование цвета панели</h2>

  <div class="mt">
    <%= form_with scope: :style,
                  url: page_style_path,
                  data: {turbo: false},
                  method: "patch" do |form| %>
      <p><%= form.label :color %></p>
      <p><%= form.color_field :color, value: get_color %></p>

      <p>
        <%= form.submit "Сохранить", class: "button button-main mt-lg" %>
      </p>
    <% end %>
  </div>
</div>
