.button {
  border: 0;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  padding: 8px 13px 7px;
  text-decoration: none;
  cursor: pointer;
}

.button-main {
  background-color: #47B5FF;
}

.button-main:hover {
  background-color: #0096FB;
  transition: all ease .2s;
}

.button-navbar {
  border: 1px solid #06283D;
  color: #06283D;
}

.button-navbar:hover {
  background-color: #F0FBFF;
  transition: all ease .2s;
}

.button-red {
  background-color: #FF9A9A;

}

.button-red:hover {
  background-color: #F96969;
  transition: all ease .2s;
}

.btn-icon {
  display: inline-block;
}

.btn-icon:hover {
  -webkit-transform: scale(1.15);
  transition: all ease .1s;
}
