body {
  background: #fff;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 800px;
  margin: 10px 40px 40px 40px;
  width: 100%;
}

.container, .navbar {
  padding: 10px;
}

.container {
  background: #DFF6FF;
  border-radius: 10px;
}

.navbar {
  align-items: center;
  background-color: #DFF6FF;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #06283D;
  text-decoration: none;
}
