body {
  background: #fff;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 800px;
  margin: 40px;
  width: 100%;
}

.container {
  background: #DFF6FF;
  border-radius: 10px;
  padding: 20px;
}
