.message {
  border: 1px solid #e0e0e0;
  padding: 15px 10px;
  border-radius: 10px;
}

.message-notice {
  background-color: #e3ffc2;
  border-color: #9bff08;
}

.message-alert {
  background-color: #ffd2d2;
  border-color: #d00000;
}
