.users-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.users-box-user {
  flex-basis: 64px;
  flex-grow: 0;
  height: 64px;
  line-height: 64px;
  text-align: center;
  border: 3px solid #DFF6FF;
}

.users-box-user a {
  color: #FFFFFF;
  text-decoration: none;
}
